{% extends 'base.html.twig' %}

{% block body %}
  <div class="jumbotron text-center">
    <div class="container">
      <h1>Bienvenue home agence</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam ipsum explicabo voluptatibus atque, ipsam ab pariatur unde iure distinctio eveniet libero cumque aspernatur dicta neque commodi, eaque dolores! Ullam, error.</p>
    </div>
  </div>
{% endblock %}